#overlay-image {
    width: 8%;
    height: auto;
    animation: move-up-down 2s ease-in-out infinite; /* animate the image using the move-up-down animation */
  }
  
  @keyframes move-up-down {
    0% {
      transform: translateY(0); /* set the initial vertical position to 0 */
    }
    50% {
      transform: translateY(-8%); /* move the image up by 50 pixels at the midpoint of the animation */
    }
    100% {
      transform: translateY(0); /* return the image to its initial position at the end of the animation */
    }
  }
  